<% set_meta_tags title: "#{@user.username}(#{@user.nickname})",
    description: "#{@user.username}さんの質問です。",
  og: {
    title: "#{@user.username}(#{@user.nickname})",
    description: "#{@user.username}さんの質問です。",
 } %>

<%= render 'users/profile', user: @user %>
<div class="other-posts my-3">
  <div class="text-center">
    <h1>過去の質問</h1>
    <p><%= @user.username %>さんの質問です</p>
  </div>
  <ul class="nav nav-tabs">
    <li><%= link_to "回答受付中", user_path(@user) %></li>
    <li><%= link_to "回答締め切り", closed_posts_path(@user) %></li>
  </ul>
  <%= render 'posts/posts', user: @user, posts: @closed_posts %>
</div>
