<% @friends.each do |friend| %>
    #ユーザー名
    <a href="https://twitter.com/<%= friend.nickname %>" target="_blank"><%= friend.username %></a>
    #アカウント名
    <p><%= friend.username %></p>
    #プロフィール文
    <!-- <p><%= friend.description %></p> -->
    #プロフィール画像
    <p><%= image_tag "#{friend.image_url}" %></p>
    <hr>
<% end %>
