<% set_meta_tags title: "#{@user.username}(#{@user.nickname})}",
    description: "質問です。「#{@post.content}」",
  og: {
    title: "#{@user.username}(#{@user.nickname})",
    description: "質問です。「#{@post.content}」",
    image: "#{request.base_url}/posts/get_image?id=#{@post.id}"
 } %>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="post-image">
        <%= image_tag(url_for(:action => 'get_image', :id => @post.id)) %>
      </div>
      <div class="media p-3 my-4 border rounded">
        <div class=" mr-2">
          <%= link_to image_tag("#{@user.image_url}", :size => "80x80", :class => "rounded-circle") %>
        </div>
        <div class="media-body">
          <h5><%= @user.username %></h5>
          <p><%= @post.content %></p>
        </div>
      </div>
      <% if @user == current_user %>
        <div class="">
          <%= link_to '削除', [@user, @post], method: :delete, data: { confirm: "この質問を削除しますか？" },
          class: 'btn btn-danger' %>
          <%= form_with(model: [@user, @post], local: true) do |f| %>
           <% if @post.status == true %>
              <%= f.submit '締め切る', class: 'btn btn-primary btn-block p-3' %>
            <% else %>
              <%= f.submit '回答を受け付ける', class: 'btn btn-primary btn-block p-3' %>
            <% end %>
          <% end %>
        </div>
        <div class="other-posts my-3">
          <div class="text-center">
            <h1>回答一覧</h1>
            <p>この質問に送られてきた回答の一覧です。回答は他の人には見えません。</p>
          </div>
          <%= render 'replies/replies', replies: @replies %>
        </div>
        <div class="other-posts my-3">
        </div>
      <% elsif @post.status == true %>
        <div class="form">
          <div class="text-center pb-2">
            <%= @user.username %>さんの質問に回答します。回答は匿名で送られます。
          </div>
          <%= form_with(model: @reply, local: true, url: confirm_new_reply_path) do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
            <%= f.hidden_field :post_id, value: @post.id %>
          </div>
          <%= f.submit '回答する', class: 'btn btn-secondary btn-block p-3' %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <p>この質問への回答は締め切られました。</p>
        </div>
      <% end %>
    </div>
  </div>
