<% share_image = @post.image_url(host: request.base_url) || image_url('default.png') %>
<% set_meta_tags og: {
    title: "#{@user.username}@Quester",
    description: "#{@user.username}さんの質問です。「#{@post.content}」",
    image: share_image
 } %>

<%= image_tag(@post.image, width: "690", class: "img-fluid shadow-lg rounded-4", loading: "lazy") if @post.image.attached? %>

<% is_owner = current_user == @user %>
<% show_profile_fallback = !@post.image.attached? %>

<% if is_owner %>
  <div class="share-toolkit card my-4">
    <div class="card-body d-flex flex-column flex-md-row align-items-md-center justify-content-between">
      <div class="share-actions w-100 w-md-auto d-flex flex-column flex-md-row gap-2">
        <%= link_to "Xで共有", "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode("#{@user.username}さんの質問です #MyQuestion")}&url=#{CGI.escape(request.original_url)}",
            class: "btn btn-solid-primary text-center w-100", target: "_blank", rel: "noopener", data: { turbo: false } %>
      </div>
    </div>
  </div>
<% end %>

<% unless is_owner %>
  <% if show_profile_fallback %>
    <div class="toppage-profile card my-5">
      <div class="card-body">
        <div class="media p-3 border rounded">
          <%= link_to image_tag(avatar_url(@user), size: "80x80", class: "rounded-circle mr-3", loading: "lazy"),
              user_path(@user) %>
          <div class="media-body">
            <h5><%= @user.username %></h5>
            <p><%= simple_format(h(@post.content)) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="reply">
    <div class="text-center">
      <h1>回答する</h1>
      <p><%= @user.username %>さんの質問に回答します。回答は匿名で送られます。</p>
    </div>
    <div class="form-group card">
      <% if @post.status %>
        <%= render 'replies/form', reply: @reply, post: @post %>
      <% else %>
        <div class="card-body text-center">
          この質問への回答は締め切られました。
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user == current_user %>
  <div class="change text-center my-5">
    <h1>質問設定</h1>
    <p>回答を募集するか締め切ります。また、質問を削除します。</p>
    <%= render 'posts/edit_form', user: @user, post: @post %>
  </div>
  <div class="other-replies my-5">
    <div class="text-center">
      <h1>回答一覧</h1>
      <p>この質問に送られてきた回答の一覧です。回答は他の人には見えません。</p>
    </div>
    <%= render 'replies/replies', replies: @replies %>
  </div>
<% end %>
