<% set_meta_tags title: "#{@user.username}(#{@user.nickname})}",
    description: "質問です。「#{@post.content}」",
  og: {
    title: "#{@user.username}(#{@user.nickname})",
    description: "質問です。「#{@post.content}」",
    image: "#{request.base_url}/posts/get_image?id=#{@post.id}"
 } %>

<div class="post-image">
  <%= image_tag(url_for(:action => 'get_image', :id => @post.id)) %>
</div>
<div class="media p-3 my-4 border rounded">
  <div class=" mr-2">
    <%= link_to image_tag("#{@user.image_url}", :size => "80x80", :class => "rounded-circle") %>
  </div>
  <div class="media-body">
    <h5><%= @user.username %></h5>
    <p><%= @post.content %></p>
  </div>
</div>

<div class="reply">
  <div class="text-center">
    <h1>回答する</h1>
    <p><%= @user.username %>さんの質問に回答します。回答は匿名で送られます。</p>
  </div>
  <div class="form-group card">
    <% if @post.status %>
      <%= render 'replies/form', reply: @reply, post: @post %>
    <% else %>
      <p class="text-center">この質問への回答は締め切られました。</p>
    <% end %>
  </div>
</div>

<% if @user == current_user %>
  <div class="change">
    <%= render 'posts/edit_form', user: @user, post: @post %>
  </div>
  <div class="other-replies my-5">
    <div class="text-center">
      <h1>回答一覧</h1>
      <p>この質問に送られてきた回答の一覧です。回答は他の人には見えません。</p>
    </div>
    <%= render 'replies/replies', replies: @replies %>
  </div>
<% end %>
