<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="media p-3 my-4 border rounded">
            <div class=" mr-2">
                <%= link_to image_tag("#{@user.image_url}", :size => "80x80", :class => "rounded-circle") %>
            </div>
            <div class="media-body">
                <h5><%= @user.username %></h5>
                <p><%= @post.content %></p>
            </div>
        </div>
        <% if @user == current_user %>
          <div class="other-posts my-3">
              <div class="text-center">
                  <h1>回答一覧</h1>
                  <p>この質問に送られてきた回答の一覧です。回答は他の人には見えません。</p>
              </div>
              <%= render 'replies/replies', replies: @replies %>
          </div>
          <div class="other-posts my-3">
          </div>
        <% else %>
          <div class="form">
              <div class="text-center pb-2">
                <%= @user.username %>さんの質問に回答します。回答は匿名で送られます。
              </div>
              <%= form_with(model: @reply, local: true, url: confirm_new_reply_path) do |f| %>
                  <div class="form-group">
                      <%= f.text_area :content, class: 'form-control', rows: 5 %>
                      <%= f.hidden_field :post_id, value: @post.id %>
                  </div>
                  <%= f.submit '回答する', class: 'btn btn-secondary btn-block p-3' %>
              <% end %>
          </div>
        <% end %>
    </div>
</div>
