<ul class="nav navbar-top justify-content-center align-items-center py-3">
  <li class="nav-item mr-4">
    <%= link_to(user_signed_in? ? toppages_show_path : root_path, class: "navbar-brand font-weight-bold text-dark d-inline-flex align-items-center") do %>
      <%= image_tag asset_path('favicon.png'), size: "24x24", class: "mr-2" %>
      Quester
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to '自分', user_path(current_user), class: "nav-link px-3" %>
    </li>
    <li class="nav-item">
      <%= link_to '設定', toppages_edit_path, class: "nav-link px-3" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Xでログイン", user_twitter_omniauth_authorize_path, method: :post, class: "btn btn-outline-primary px-4", data: { turbo: false } %>
    </li>
  <% end %>
</ul>
