<ul class="nav justify-content-center align-items-center py-3">
  <li class="nav-item mr-4">
    <%= link_to root_path, class: "navbar-brand font-weight-bold text-dark" do %>
      Quester
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'トップページ', toppages_show_path, class: "nav-link px-3 #{'active' if current_page?(toppages_show_path)}" %>
    </li>
    <li class="nav-item">
      <%= link_to '自分', user_path(current_user), class: "nav-link px-3" %>
    </li>
    <li class="nav-item">
      <%= link_to '設定', toppages_edit_path, class: "nav-link px-3" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Twitterでログイン", user_twitter_omniauth_authorize_path, method: :post, class: "btn btn-outline-primary px-4", data: { turbo: false } %>
    </li>
  <% end %>
</ul>
